<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Example App</title>
    <link rel="stylesheet" href="/assets/style.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="leftcolumn">
                <div class="maincontent">
                    <h1>The Movie List</h1>
                    <p>Get Daily Movie Recommendations straight to your inbox</p> 
                </div>
            </div>
            <div class="rightcolumn">
                {{{body}}}
            </div>
        </div>
    </div>
</body>
</html>