<p>Hey James we have send you a verification email. Please enter your 5 digit code here.</p>
<form action="/confirmEmail" method="get">
    <div class="codeinputs">
        <input type="number" name="n1" placeholder="">
        <input type="number" name="n2" placeholder="">
        <input type="number" name="n3" placeholder="">
        <input type="number" name="n4" placeholder="">
        <input type="number" name="n5" placeholder="">
    </div>
    <input type="submit" value="Confirm Email Address">
</form>          