<form action="/confirmEmail" method="get">
    <input type="number" name="n1" placeholder="">
    <input type="number" name="n2" placeholder="">
    <input type="number" name="n3" placeholder="">
    <input type="number" name="n4" placeholder="">
    <input type="number" name="n5" placeholder="">

    <input type="submit" value="Confirm Email Address">
</form>          