<div class="unsubcontent">
    <p>Unsubscribe to our Daily movie Recommendations</p>
    <form action="/unsubscribe" method="get">
        <input type="submit" value="Stop Sending Movies">
    </form>          
</div>