body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

input[type=text], input[type=email], input[type=password] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

label {
  color: #800000;
}

input[type=submit] {
  width: 100%;
  background-color: #800000;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: gray;
}

.container {
  padding-top: 50px;
  margin: auto;
  width: 80%;
}

.maincontent {
  margin: auto;
  width: 50%;
  padding: 70px 0;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.leftcolumn {
  float: left;
  width: 70%;
  height: 450px;
  background-image: url("./images/poster.jpg");
  color: white;
}
  
.rightcolumn {
  float: left;
  width: 30%;
  padding-left: 50px;
}

.rightcolumn h1 {
  color: #800000;
}

.codeinputs {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.codeinputs input {
  height: 50px;
  width: 50px;
  margin-right: 10px;
  margin-bottom: 30px;
  margin-top: 30px;
}

.unsubcontent {
  margin-top: 50%;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}